html,
body {
  font-family: "fantasy"; /* 文字の書式 */
  font-size: 22px; /* フォントの大きさ */
  text-align: center; /* 文字の配置 */
  background-color: #e5fdff;
}

.h2 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  color: #000066;
}

.login-main{
  margin: 80px; /* 各ブロック要素の余白 */
}

.contact {
  display: block;
  margin: 2px auto;
}

.submit {
  display: block;
  width: 250px;
  margin: 10px auto 0 auto;
  border-radius: 5%; /* 角丸 */
  font-size: 16px; /* 文字サイズ */
  text-align: center; /* 文字位置 */
  cursor: pointer; /* カーソル */
  padding: 6px 6px; /* 余白 */
  background: #000066; /* 背景色 */
  color: #ffffff; /* 文字色 */
  transition: 0.3s; /* なめらか変化 */
  box-shadow: 3px 3px 1px #666666; /* 影の設定 */
  border: 2px solid #000066; /* 枠の設定 */
}
.submit:hover {
  box-shadow: none; /* カーソル時の影消去 */
  color: #000066; /* 背景色 */
  background: #ffffff; /* 文字色 */
}
